* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-family: monospace;
  color: #000;
  font-size: 12px;
  background-color: #fcfcff;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding: 0 10px;
}

a, a:visited {
  color: #0000ff;
}

header {
    padding: 20px 0;
    padding-bottom: 0;
}

section, footer {
  margin: 50px 0;
}

nav {
  float: right;
  text-transform: uppercase;
  height: 100%;
  display: inline-block;
  margin-top: 10px;
}

nav a {
  font-size: 14px;
}

#logo {
  width: 220px;
}

#intro {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  display: none;
}
#intro h1 {
  font-size: 26px;
  line-height: 2;
}
#intro h3 {
  font-weight: normal;
}

#viewer {
  /*height: 500px;
  background-color: #eee;*/
  position: relative;
  margin-top: 20px;
}

#viewer img {
  width: 100%;
}


#viewer-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

#viewer-nav > * {
  pointer-events: auto;
}

#arrows {
  z-index: 99;
  align-self: center;
  font-size: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  pointer-events: none;
}

#arrows span {
  cursor: pointer;
  color: #aaa;
  color: #000;
  transition: color .2s ease;
  font-family: monospace;
  pointer-events: auto;
}

#arrows span:hover {
  color: #777;
}

#title {
  font-size: 20px;
  color: #777;
  color: #000;
  margin-bottom: 28px;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

#video img {
  width: 100%;
}

#read img {
  cursor: pointer;
}

#read img, #read p {
  width: 50%;
  float:left;
  font-size: 13px;
}

#read p {
  padding-left: 40px;
}

footer {
  float: left;
  margin-top: 0;
  line-height: 1.5;
}
